Django==4.2.18

# Django Rest Framework
certifi==2024.7.4
chardet==3.0.4
djangorestframework==3.15.2
django-filter==2.4.0
Markdown==2.6.11
httpie==3.2.3
idna==3.7
Pillow==10.3.0
Pygments==2.15.0
requests==2.32.2
urllib3==1.26.19
