Django==1.11.28

# Django Rest Framework
certifi==2018.1.18
chardet==3.0.4
djangorestframework==3.9.1
django-filter==1.1.0
Markdown==2.6.11
httpie==3.1.0
idna==2.6
Pillow==6.2.2
Pygments==2.2.0
requests==2.20.0
urllib3==1.24.2
